

.font-size {
    font-size: 30px;
}

.font-style {
    font-style: italic;
}

.font-weight {
    font-weight: bold;
}


.color-y-fondo {
    color:aquamarine;
    background-color: black;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.box {
    height: 50px;
    width: 200px;

    padding: 10px;
    margin: 10px /*arriba*/ 8px /*derecha*/ 6px /*abajo*/ 4px /*izquierda*/;

    border: solid 5px black; /*Para que se muestre el borde*/


    background-color: blueviolet;
    color: azure;
}

body {
    background-color: #eeecd1;
}


/* DELIMITACION DEL RETO DE LA SEMANA, TARJETA DE LINKS */
/* Antes se le tiene que decir al codigoq ue todos los box-sizing seran border box */

* {
    box-sizing: border-box;
}   


.card {
    margin: 5px;
    background-color: #704646;
    height: 500px;
    width: 300px; /* asi esta propiedad incluye el paadding de 10pc */
    text-align: center;
    padding: 10px;
    color: #dadada
}

.box-profile {
    margin: 20px auto;
    background-color: #1f1f1f;
    height: 88%;
    width: 88%;
    display:block;
    padding: 20px;
    border-radius: 10px; /* esta permite que se redondeen las esquinas */
}

#profile-image {
    height: 100px;
    width: 95px;
    border-radius: 80%; /* con la misma del borde se hace el circulo, piensalo como en photoshop*/
    display: block; /* block lo divide como algo direfente para trabajarlo solo*/
    margin: 10px auto; /* auto ayuda a calcular espacios rapidamente */
}


